@model BarAndRestaurantMate.Models.ItemIndexModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-head">
    <h2>Items</h2>
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Complete Item</a></li>
        <li class="active">Complete Items List</li>
    </ol>
</div>
<div class="cl-mcont">
    <div class="row">
        <div class="col-md-12">
            <div class="block-flat">
                <div class="header">
                    <h3>Sale Items</h3>
                </div>
                <div class="content">
                    <div class="table-responsive">
                        <table class="table no-border hover">
                            <thead class="no-border">
                                <tr>
                                    <th style="width:15%;"><strong>Name</strong></th>
                                    <th style="width:10%;"><strong>Buying Price</strong></th>
                                    <th style="width:10%;"><strong>Selling Price</strong></th>
                                    <th style="width:20%;"><strong>Notification No.</strong></th>
                                    <th style="width:10%;"><strong>Cooked</strong></th>
                                    <th style="width:10%;"><strong>Kitchen</strong></th>
                                </tr>
                            </thead>
                            <tbody class="no-border-y">
                                @foreach (var item in Model.StockList.OrderBy(x => x.StockItemName).ToList())
                                {
                                    <tr>
                                        <td>@item.StockItemName</td>
                                        <td>@item.OrigPrice</td>
                                        <td>@item.UnitPrice</td>
                                        <td>@item.NotNumber</td>
                                        <td>@item.CookedFood.ToString()</td>
                                        <td>@item.KitchenOnly.ToString()</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

