@using BarAndRestaurantMate.Helpers
@model BarAndRestaurantMate.Models.GCViewModel

<style>
    .dropdownDiv {
        height: 100px;
        width: 100%;
        overflow: auto;
        padding: 2px;
    }
</style>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.PersonId)
@Html.HiddenFor(model => model.StartDate)
@Html.HiddenFor(model => model.EndDate)
@Html.HiddenFor(model => model.PinCode)


<div class="six columns">
    <label for="email">Start Date</label>
    @Html.TextBoxFor(model => model.StartDate, new { @disabled = "disabled", @readonly = "readonly" })
</div>

<div class="six columns">
    <label for="email">End Date</label>
    @Html.TextBoxFor(model => model.EndDate, new { @disabled = "disabled", @readonly = "readonly" })
</div>

<div class="six columns">
    <label for="email">Pin Code</label>
    @Html.TextBoxFor(model => model.PinCode, new { @disabled = "disabled", @readonly = "readonly" })
</div>



<div class="six columns">
    <label for="email">Number Of Days</label>
    @Html.TextBoxFor(model => model.NumberOfDays, new { @type = "number", @min = "1" })
    @Html.ValidationMessageFor(model => model.NumberOfDays)
</div>

<div class="twelve columns">
    <input id="submit" type="submit" value="Save" name="send_booking">
</div>


