<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>HomeMate | LAUREN Inc.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="alternate" type="application/rss+xml" title="HotelMotel &raquo; Feed" href="" />
    <link rel="alternate" type="application/rss+xml" title="HotelMotel &raquo; Comments Feed" href="" />
    <link rel="alternate" type="application/rss+xml" title="HotelMotel &raquo; Homepage Comments Feed" href="" />

    @*@Styles.Render("~/Content/css")*@

    <link rel='stylesheet' id='contact-form-7-css' href="~/css/Include/style.css" type='text/css' media='all' />
    <link rel='stylesheet' id='google-font-css' href="~/css/sans.css" type='text/css' media='all' />
    <link rel='stylesheet' id='foundation-css' href="~/css/foundation.css" type='text/css' media='all' />
    <link rel='stylesheet' id='ci-style-css' href="~/css/style.css" type='text/css' media='screen' />
    <link rel='stylesheet' id='ci-mediaqueries-css' href="~/css/mediaqueries.css" type='text/css' media='all' />
    <link rel='stylesheet' id='ci-color-scheme-css' href="~/colors/default.css" type='text/css' media='all' />
    <link rel='stylesheet' id='wp-pagenavi-css' href="~/css/pagenavi-css.css" type='text/css' media='all' />


    @Scripts.Render("~/bundles/modernizr")


    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.ico" />
    <link rel="apple-touch-icon" href="~/images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/apple-touch-icon-72x72.png" />


    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <style type="text/css">
        .row {
            width: 1280px;
        }
    </style>

</head>
<body class="no-touch" style="height:100%;overflow:auto;">

    <div id="page" style="height:1100px;">

        <header id="header">

            <div class="row">
                <div class="eight columns">

                    <div>
                        @{Html.RenderAction("TopMenu", "Home");}
                    </div>


                </div>
                <div class="four columns">
                    <div id="top-head">
                        @*<div class="two columns">
                                <aside id="ci_socials_ignited-2" class="widget widget_ci_socials_ignited group">
                                    <div class="ci-socials-ignited ci-socials-ignited-32">
                                        <a href="#"><img align="middle" src="~/images/facebook.png" /></a>
                                    </div>
                                </aside>
                            </div>*@
                        <div class="twelve columns">
                            <div class="top-info">
                                <a class="resort-mail" href="mailto:info@academyvista.com">academyvista.com</a>
                                <a class="resort-contact" href="">@User.Identity.Name</a>
                            </div>
                        </div>

                        <div class="twelve columns">
                            <hr class="separator">
                        </div>
                    </div> <!-- .top-head -->
                </div>
            </div>
        </header>

        <div class="row">
            <div class="twelve columns">
                <div class="twelve columns main-separator"></div>
            </div>
        </div>


        <div id="main" role="main" style="height:950px;">
            <div id="hero" class="row" >
                @RenderBody()
                @RenderSection("SideBarBox", required: false)
                @RenderSection("PaginationBox", required: false)
            </div> <!-- #hero -->
        </div> <!-- #main -->
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
