@model BarAndRestaurantMate.Models.RoomBookingViewModel

<link href="~/css/LoginPopUp.css" rel="stylesheet" />

<div id="login-box" class="login-popup">
    <a href="#" class="close"><img src="~/images/close_pop.png" class="btn_close" title="Close Window" alt="Close" /></a>
    <form method="post" class="signin" action="@Url.Action("LogOn","Account")">
        <fieldset class="textbox">

            <label class="username">
                <span>Username or email</span>
                <input id="UserName" name="UserName" value="" type="text" autocomplete="on" placeholder="Username">
            </label>

            <label class="password">
                <span>Password</span>
                <input id="Password" name="Password" value="" type="password" placeholder="Password">
            </label>

            <input class="submit button" type="submit" value="Sign in" />


            <p>
                <a class="forgot" href="#">Forgot your password?</a>
            </p>

        </fieldset>
    </form>
</div>

<ul id="navigation" class="">



    @if (Request.IsAuthenticated && (User.IsInRole("Guest")))
    {
        <li id="menu-item-221" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-6 current_page_item menu-item-221"><a href="@Url.Action("Index","Home")">Home</a>
            <ul class="sub-menu">
                @*<li id="menu-item-345" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-345"><a href="@Url.Action("ViewAccount","Guest")">View Account</a></li>
                <li id="menu-item-346" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-346"><a href="@Url.Action("Menu","Guest")">Menu</a></li>*@
                @*<li id="menu-item-346" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-346"><a href="@Url.Action("ExpressCheckout","Guest")">Express Checkout</a></li>*@
                @*<li id="menu-item-346" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-346"><a href="@Url.Action("Joromi","Guest")">Joromi Cinemas</a></li>
                <li id="menu-item-346" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-346"><a href="@Url.Action("MusicVideos","Guest")">Music Videos</a></li>
                <li id="menu-item-346" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-346"><a href="@Url.Action("BuyRechargeCard","Guest")">Buy Recharge Card</a></li>
                <li id="menu-item-346" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-346"><a href="@Url.Action("LocalServices", "Guest")">Places Of Interest</a></li>
                <li id="menu-item-346" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-346"><a href="@Url.Action("PlayAgainstComputer","Home21")">Play Karshi 21</a></li>
                <li id="menu-item-346" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-346"><a href="@Url.Action("TaxiServices", "Guest")">Taxi Services</a></li>
                <li id="menu-item-346" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-346"><a href="@Url.Action("FlightServices", "Guest")">Book Your Flight</a></li>
                <li id="menu-item-346" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-346"><a href="@Url.Action("Feedback","Guest")">Feedback</a></li>
                <li id="menu-item-346" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-346"><a href="@Url.Action("AddVideo","Guest")">Add Video</a></li>*@

            </ul>
        </li>
    
    }
    
    @if (Request.IsAuthenticated && ((User.IsInRole("SECURITY")) || (User.IsInRole("Admin"))))
    {
    <li id="menu-item-375" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-375">
        <a href="@Url.Action("Index","Home")">HR</a>
        <ul class="sub-menu">
            <li id="menu-item-378" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-377"><a href="@Url.Action("ManageUsers","GuestAccount")">Manage Users</a></li>
            <li id="menu-item-378" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-377"><a href="@Url.Action("ManagePinCode","GuestAccount")">Manage Pin Code</a></li>
        </ul>
    </li>
    }

    <li id="menu-item-375" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-375"><a href="@Url.Action("Index","Home")"><img src="~/images/Gnome-System-Lock-Screen-32.png" /></a>  
        @*<a href="@Url.Action("Booking","Home")">Security</a>*@
              
        <ul class="sub-menu">
            @if (!Request.IsAuthenticated)
            {
            <li id="menu-item-377" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-377"><a href="@Url.Action("NewLogin","Account")" class="login-window">Login</a></li>
            }

            @if (Request.IsAuthenticated)
            {
                <li id="menu-item-377" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-377"><a href="@Url.Action("LogOff", "Account")">Log Out</a></li>
            }


</ul>
    </li>






    

</ul>
