@model BarAndRestaurantMate.Models.HotelMenuModel
<link href="~/css/TilesSmall.css" rel="stylesheet" />




@if (Model.CanSelectListExistingTable != null && Model.CanSelectList.Any() && Model.CanSelectListExistingTable.Any())
{
    <hr />
    <div class="row">
        <div class="twelve columns">

            <div class="twelve columns">
            </div>
            <form method="post" class="signin" action="@Url.Action("SwapExistingTable","Guest")">
                <div class="row">
                    <div class="four columns">
                        <label for="four">Occupied Tables</label>
                        @Html.DropDownListFor(model => model.ExistingTableId, Model.CanSelectListExistingTable, new { @name = "room_select", @id = "b-company", @style = "width:310px; height:35px;" })
                        @Html.ValidationMessageFor(model => model.ExistingTableId)
                    </div>

                    <div class="four columns">
                        <label for="four">Free Tables*</label>
                      @Html.DropDownListFor(model => model.RealTableId, Model.CanSelectList, new { @name = "room_select", @id = "b-company", @style = "width:310px; height:35px;" })
                      @Html.ValidationMessageFor(model => model.RealTableId)
                    </div>

                    <div class="four columns">
                        <input class="submit button" type="submit" id="SwapTable" value="Swap Table" />
                    </div>
                </div>
            </form>
        </div>
    </div>
}
else
{
    <p>No tables to swap</p>
}

<hr />






